body {
  background-color: #000000;
  margin: 0;
}

h1 {
  color:#FFFFFF;
  font-family: helvetica;
  font-size: 20px;
  text-align:center;
  text-transform: uppercase;
}

.game-canvas {
  background-color: #FFFFFF;
  display: block;
  margin: auto;
  width: 500px;
  height: 500px; 
}
