body {
  margin: 0;
}

h1 {
  color:#000000;
  font-family: helvetica;
  font-size: 20px;
  text-align:center;
}

.game-canvas {
  background-color: #727272;
  border-radius: 20px;
  display: block;
  margin: auto;
}
